body{
    color:black;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("Coolie\ title\ image.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
    overflow:hidden;
}
ul li{
    float:left;
}
ul li a{
    text-decoration: none;
    display:block;
    text-align:center;
    padding:20px 95px;
    background-color: red;
    color:gold;
}
ul li a:hover{
    background-color: black;
    color:gold;
}
*{
    color:gold;
}
h1{
    color:white;
}
p{
    font-family: 'Times New Roman';
    font-size:large;
    text-align: justify;
}
.button{
    background-color: red;
    padding:15px 32px;
    text-align:center;
    margin:4px 2px;
    color:gold;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px 20px;
    cursor: pointer;
}
.button:hover{
    background-color: gold;
    color: red;
    transition:ease-in-out 0.5s;
}